<div class = "container">
  <div fxLayout="column" fxFlex="48">
    <mat-toolbar>
      <span class = "fill-space"></span>
      <span>
      Business Details
      </span>
      <span class = "fill-space"></span>
    </mat-toolbar>
    <form [formGroup] = "businessDetailsForm">
      <mat-grid-list cols = "2" rowHeight = "3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Organization Name
            </mat-label>
            <input matInput type="text" formControlName = "organization_name">
            <mat-error *ngIf="businessDetailsForm.controls.organization_name.errors && businessDetailsForm.controls.organization_name.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Permit Number
            </mat-label>
            <input matInput type="text" formControlName = "permit_number">
            <mat-error *ngIf="businessDetailsForm.controls.permit_number.errors && businessDetailsForm.controls.permit_number.touched" class = 'is-error'>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Nature of Business
            </mat-label>
            <select matNativeControl formControlName = "business_nature">
              <option *ngFor="let item of businessNature;">{{item.name}}</option>
            </select>  
              <mat-error *ngIf="businessDetailsForm.controls.business_nature.errors && businessDetailsForm.controls.business_nature.touched" class = 'is-error'>
              </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Business Type
            </mat-label>
            <select matNativeControl formControlName = "business_type">
              <option *ngFor="let item of businessTypes;">{{item.name}}</option>
            </select>  
              <mat-error *ngIf="businessDetailsForm.controls.business_type.errors && businessDetailsForm.controls.business_type.touched" class = 'is-error'>
              </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Physical Location
            </mat-label>
            <input matInput type="text" formControlName = "physical_location">
            <mat-error *ngIf="businessDetailsForm.controls.physical_location.errors && businessDetailsForm.controls.physical_location.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Postal Address
            </mat-label>
            <input matInput type="text" formControlName = "postal_address">
            <mat-error *ngIf="businessDetailsForm.controls.postal_address.errors && businessDetailsForm.controls.postal_address.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              City/Town
            </mat-label>
            <input matInput type="text" formControlName = "city">
            <mat-error *ngIf="businessDetailsForm.controls.city.errors && businessDetailsForm.controls.city.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              KRA PIN
            </mat-label>
            <input matInput type="text" formControlName = "kra_pin">
            <mat-error *ngIf="businessDetailsForm.controls.kra_pin.errors && businessDetailsForm.controls.kra_pin.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-toolbar>
      <span class = "fill-space"></span>
      <span>
      Business Contact Info
      </span>
      <span class = "fill-space"></span>
    </mat-toolbar>
    <form [formGroup] = "businessContactInfoForm">
      <mat-grid-list cols = "2" rowHeight = "3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Type
            </mat-label>
            <select matNativeControl formControlName = "contact_type">
              <option *ngFor="let item of contactTypes;">{{item.name}}</option>
            </select>  
              <mat-error *ngIf="businessContactInfoForm.controls.contact_type.errors && businessContactInfoForm.controls.contact_type.touched" class = 'is-error'>
              </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Name
            </mat-label>
            <input matInput type="text" formControlName = "contact_name">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_name.errors && businessContactInfoForm.controls.contact_name.touched" class = 'is-error'>
              <mat-error *ngIf="businessContactInfoForm.controls.contact_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Position
            </mat-label>
            <input matInput type="text" formControlName = "contact_position">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_position.errors && businessContactInfoForm.controls.contact_position.touched" class = 'is-error'>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Email
            </mat-label>
            <input matInput type="text" formControlName = "contact_email">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_email.errors && businessContactInfoForm.controls.contact_email.touched" class = 'is-error'>
              <mat-error *ngIf="businessContactInfoForm.controls.contact_email.errors.email">Incorrect email format</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Mobile
            </mat-label>
            <input matInput type="text" formControlName = "contact_mobile">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_mobile.errors && businessContactInfoForm.controls.contact_mobile.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Direct Phone
            </mat-label>
            <input matInput type="text" formControlName = "direct_phone">
            <mat-error *ngIf="businessContactInfoForm.controls.direct_phone.errors && businessContactInfoForm.controls.direct_phone.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div fxLayout="column" fxFlex="4"></div>
  <div fxLayout="column" fxFlex="48">
    <mat-toolbar>
      <span class = "fill-space"></span>
      <span>
      Shareholders Information
      </span>
      <span class = "fill-space"></span>
    </mat-toolbar>
    <form [formGroup] = "shareholdersInfoForm">
      <mat-grid-list cols = "2" rowHeight = "3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              First Name
            </mat-label>
            <input matInput type="text" formControlName = "first_name">
            <mat-error *ngIf="shareholdersInfoForm.controls.first_name.errors && shareholdersInfoForm.controls.first_name.touched" class = 'is-error'>
              <mat-error *ngIf="shareholdersInfoForm.controls.first_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Second Name
            </mat-label>
            <input matInput type="text" formControlName = "second_name">
            <mat-error *ngIf="shareholdersInfoForm.controls.second_name.errors && shareholdersInfoForm.controls.second_name.touched" class = 'is-error'>
              <mat-error *ngIf="shareholdersInfoForm.controls.second_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Last Name
            </mat-label>
            <input matInput type="text" formControlName = "last_name">
            <mat-error *ngIf="shareholdersInfoForm.controls.last_name.errors && shareholdersInfoForm.controls.last_name.touched" class = 'is-error'>
              <mat-error *ngIf="shareholdersInfoForm.controls.last_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Email
            </mat-label>
            <input matInput type="text" formControlName = "email">
            <mat-error *ngIf="shareholdersInfoForm.controls.email.errors && shareholdersInfoForm.controls.email.touched" class = 'is-error'>
              <mat-error *ngIf="shareholdersInfoForm.controls.email.errors.email">Incorrect email format</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Full Address
            </mat-label>
            <input matInput type="text" formControlName = "full_address">
            <mat-error *ngIf="shareholdersInfoForm.controls.full_address.errors && shareholdersInfoForm.controls.full_address.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class ="text-in-grid-tile">
            <label>
              Photo
             <input type="file" (change)="onFileSelected($event)" >
            </label>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="3:1">
        <div formArrayName="documents" *ngFor="let document of documents.controls; let i = index">
          <div [formGroupName]= "i">
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>
                  Document Type
                </mat-label>
                <select matNativeControl formControlName = "document_type">
                  <option *ngFor="let item of documentTypes;">{{item.name}}</option>
                </select>  
                  <!-- <mat-error *ngIf="shareholdersInfoForm.controls.document_type.errors && shareholdersInfoForm.controls.document_type.touched" class = 'is-error'>
                  </mat-error>   -->
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>
                  Document Number
                </mat-label>
                <input matInput type="text" formControlName = "document_number">
                <!-- <mat-error *ngIf="shareholdersInfoForm.controls.documents.document_number.errors && shareholdersInfoForm.controls.documents.document_number.touched" class = 'is-error'>
                </mat-error>   -->
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class ="text-in-grid-tile">
                  <label>
                    Document
                  <input type="file" (change)="onFileSelected($event)" >
                  </label>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class ="remove-button-align" *ngIf = "i > 0">
                <button mat-raised-button color="warn" (click)="removeDocument(i)">Remove</button>
              </div>
            </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    </form>
    <div class ="button-align margin-bottom-20">
      <button mat-raised-button color="primary" (click)="addDocument()">Add Document</button>
    </div>
    <div class ="button-align">
      <button mat-raised-button color="primary" (click)="addShareholder()">Add Shareholder</button>
    </div>
  </div>
</div>