<div class = "container">
  <div fxLayout="column" fxFlex="48">
    <mat-toolbar>
      <span class = "fill-space"></span>
      <span>
      Business Contact Info
      </span>
      <span class = "fill-space"></span>
    </mat-toolbar>
    <form [formGroup] = "businessContactInfoForm">
      <mat-grid-list cols = "2" rowHeight = "3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Type
            </mat-label>
            <select matNativeControl formControlName = "contact_type">
              <option *ngFor="let item of contactTypes;">{{item.name}}</option>
            </select>  
              <mat-error *ngIf="businessContactInfoForm.controls.contact_type.errors && businessContactInfoForm.controls.contact_type.touched" class = 'is-error'>
              </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Name
            </mat-label>
            <input matInput type="text" formControlName = "contact_name">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_name.errors && businessContactInfoForm.controls.contact_name.touched" class = 'is-error'>
              <mat-error *ngIf="businessContactInfoForm.controls.contact_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Position
            </mat-label>
            <input matInput type="text" formControlName = "contact_position">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_position.errors && businessContactInfoForm.controls.contact_position.touched" class = 'is-error'>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Email
            </mat-label>
            <input matInput type="text" formControlName = "contact_email">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_email.errors && businessContactInfoForm.controls.contact_email.touched" class = 'is-error'>
              <mat-error *ngIf="businessContactInfoForm.controls.contact_email.errors.email">Incorrect email format</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Mobile
            </mat-label>
            <input matInput type="text" formControlName = "contact_mobile">
            <mat-error *ngIf="businessContactInfoForm.controls.contact_mobile.errors && businessContactInfoForm.controls.contact_mobile.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Contact Direct Phone
            </mat-label>
            <input matInput type="text" formControlName = "direct_phone">
            <mat-error *ngIf="businessContactInfoForm.controls.direct_phone.errors && businessContactInfoForm.controls.direct_phone.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div fxLayout="column" fxFlex="4"></div>
  <div fxLayout="column" fxFlex="48">
    <mat-toolbar>
      <span class = "fill-space"></span>
      <span>
      Shareholders Information
      </span>
      <span class = "fill-space"></span>
    </mat-toolbar>
    <form [formGroup] = "userForm">
      <mat-grid-list cols = "2" rowHeight = "3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              First Name
            </mat-label>
            <input matInput type="text" formControlName = "first_name">
            <mat-error *ngIf="userForm.controls.first_name.errors && userForm.controls.first_name.touched" class = 'is-error'>
              <mat-error *ngIf="userForm.controls.first_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Second Name
            </mat-label>
            <input matInput type="text" formControlName = "second_name">
            <mat-error *ngIf="userForm.controls.second_name.errors && userForm.controls.second_name.touched" class = 'is-error'>
              <mat-error *ngIf="userForm.controls.second_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Last Name
            </mat-label>
            <input matInput type="text" formControlName = "last_name">
            <mat-error *ngIf="userForm.controls.last_name.errors && userForm.controls.last_name.touched" class = 'is-error'>
              <mat-error *ngIf="userForm.controls.last_name.errors.pattern">Names can only contain letters</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Email
            </mat-label>
            <input matInput type="text" formControlName = "email">
            <mat-error *ngIf="userForm.controls.email.errors && userForm.controls.email.touched" class = 'is-error'>
              <mat-error *ngIf="userForm.controls.email.errors.email">Incorrect email format</mat-error>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Full Address
            </mat-label>
            <input matInput type="text" formControlName = "full_address">
            <mat-error *ngIf="userForm.controls.full_address.errors && userForm.controls.full_address.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class ="text-in-grid-tile">
            <label>
              Photo
             <input type="file" (change)="onFileSelected($event)" >
            </label>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Document Type
            </mat-label>
            <select matNativeControl formControlName = "document_type">
              <option *ngFor="let item of documentTypes;">{{item.name}}</option>
            </select>  
              <mat-error *ngIf="userForm.controls.document_type.errors && userForm.controls.document_type.touched" class = 'is-error'>
              </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>
              Document Number
            </mat-label>
            <input matInput type="text" formControlName = "document_number">
            <mat-error *ngIf="userForm.controls.document_number.errors && userForm.controls.document_number.touched" class = 'is-error'>
            </mat-error>  
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class ="text-in-grid-tile">
              <label>
                Document
              <input type="file" (change)="onFileSelected($event)" >
              </label>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <div class ="button-align margin-bottom-20">
      <button mat-raised-button color="primary" (click)="addDocument()">Add Document</button>
    </div>
    <div class ="button-align">
      <button mat-raised-button color="primary" (click)="addShareholder()">Add Shareholder</button>
    </div>
  </div>
</div>